<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>Role:</strong>
  <%= @character.role %>
</p>


<p>
  <strong>STR:</strong>
  <%= @character.strength %>
</p>

<p>
  <strong>DEX:</strong>
  <%= @character.dexterity %>
</p>

<p>
  <strong>CON:</strong>
  <%= @character.constitution %>
</p>

<p>
  <strong>INT:</strong>
  <%= @character.intelligence %>
</p>


<p>
  <strong>WIS:</strong>
  <%= @character.wisdom %>
</p>

<p>
  <strong>CHA:</strong>
  <%= @character.charisma %>
</p>



<%= link_to 'Back', characters_path %>
